<div class="album py-5" id="proyectos">
    <div class="container">
      <h1 class="pb-2 border-bottom">Proyectos</h1>
  
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col" *ngFor="let proy of profileData">
          <div class="card shadow-sm">
            <a [href]="proy.view" target="_blank"><img class="card-img-top" [src]="proy.img" alt="Card image cap"></a>
            <div class="card-body">
              <h5 class="card-title">{{proy.title}}</h5>
              <p class="card-text">{{proy.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" [href]="proy.view" target="_blank" class="btn btn-sm btn-outline-secondary">View</a>
                  <a type="button" [href]="proy.git" target="_blank" class="btn btn-sm btn-outline-secondary">GitHub</a>
                </div>
                <small class="text-body-secondary">{{proy.year}}</small>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>