<div class="container" id="icon-grid">
  <h1 class="pb-2 border-bottom" id="skills">Habilidades</h1>

  <div class="skills-menu">
    <button class="menu-btn" [class.active]="selectedSkill === 'front'" (click)="changeSkill('front')">
      Front-End
    </button>
    <button class="menu-btn" [class.active]="selectedSkill === 'back'" (click)="changeSkill('back')">
      Back-End
    </button>
    <button class="menu-btn" [class.active]="selectedSkill === 'others'" (click)="changeSkill('others')">
      Otros
    </button>
  </div>

  <app-skcard [selectedSkill]="selectedSkill"></app-skcard>

</div>